body
{
  background-color: #FE840E;
}
.box
  {
    width: 50%;
    border-radius: 20px;
    border: 0px solid white;
    padding-top : 10% ;
    padding-bottom: 10% ;
    margin-left: 25% ;
    margin-right: 0% ;
    text-align: center ;
    background-image: url(fai.jpg);
    font-size: 100%;
    animation-duration: ;
    animation-delay: 1s;
  }
h2
{
    text-align: center;
}
h3
{
    text-align: center;
}
h4 
{
text-align: center
}
.bouton
{
  background-color: #4CAF50; /* Green */
  border: none;
  color: rgb(10, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px
}